[submodule "users-formula"]
	path = users-formula
	url = https://github.com/saltstack-formulas/users-formula.git
[submodule "samba-formula"]
	path = samba-formula
	url = https://github.com/saltstack-formulas/samba-formula
